// Our base colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Always need some greys
// - - - - - - - - - - - - - - - - - - - - - - - - -
$grey: #808080;
$grey--thin: lighten($grey, 47%);
$grey--light: lighten($grey, 40%);
$grey--medium: lighten($grey, 20%);


